<!DOCTYPE html>
<html>
    <head>
        <title>Recommend Size</title>
    </head>
    <body>
        <h1>Welcome to Recommend Size!</h1>
        <p>Coming soon... a navigation bar</p>
        <article>
            <h2>Our Mission</h2>
            <p>Here at Recommend Size, we believe...</p>
        </article>
        <article>
            <h2>Do We Measure Up? ;)</h2>
            <p>We would love to here your feedback. Feel Free to fill out <a href="">this form</a></p>
        </article>
        <article>
            <h2>Exciting Updates</h2>
            <p>No updates for now!</p>
        </article>
    </body>
</html>